body {
    margin: 0;
    overflow-x: hidden;
    padding: 30px 5%;
}

header {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.commonTitle {
    color: gray;
    font-family: Verdana, serif;
    font-weight: lighter;
}

#refreshButton {
    height: 50px;
    width: 300px;
    border: solid 0px white;
    border-radius: 5px;
    background-color: lightgray;
    color: gray;
    font-family: Verdana, serif;
}

#refreshButtonMini {
    height: 50px;
    width: 50px;
    border: solid 0px white;
    background-color: lightgray;
    display: none;
    border-radius: 20px;
}

.centralizeAll {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centralizeVertical {
    display: flex;
    align-items: center;
}

.centralizeVerticalReverse {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#mainSection {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr  1fr;
    grid-column-gap: 10%;
}

#mainTitle {
    color: gray;
    font-family: Verdana, serif;
    grid-column: 1 / 3;
}

#mainDiv {
    width: 100%;
}

.mainTemperatureWeatherBox {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.mainTemperatureWeatherBox img {
    height: 200px;
    width: auto;
}

.mainTemperatureWeatherBox p {
    color: gray;
    font-family: Verdana, serif;
    font-weight: lighter;
    font-size: 85px;
}

#favourite {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10%;
    grid-row-gap: 20px;
}

.roundButton {
    border: solid 0px gray;
    border-radius: 20px;
    background-color: gray;
    width: 40px;
    height: 40px;
}

.roundButtonTextCentralize {
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    font-size: 20px;
}

#townSelectionDiv {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#townSelectionDiv div {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#townInput {
    height: 40px;
    flex: 1;
    background-color: lightgray;
    border: solid 0px gray;
    padding-left: 10px;
    margin-right: 10px;
}

.cardDescription {
    display: flex;
    /*display: grid;*/
    /*grid-template-rows: repeat(5, 1fr);*/
    /*grid-row-gap: 10px;*/
    /*list-style-type: none;*/
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    /*border: 1px red solid;*/
    flex-wrap: wrap;
    padding: 0;
    margin: 0;

}

.cardDescription li {
    min-height: 50px;
    display: flex;
    background-color: darkgray;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
}

.cardDescription p {
    color: whitesmoke;
    font-family: Verdana, serif;
    text-align: end;
    font-size: 16px;
}

.cardTitleBox {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 10px;
}

.cardTitleBox h3 {
    font-family: Verdana, serif;
    color: gray;
}

.closeButtonBox {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.weatherCard {
    width: 100%;
    /*display: grid;*/
    /*grid-template-rows: min-content;*/
    /*grid-row-gap: 10px;*/
}

.titleTemperatureWeatherBox {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}


.titleTemperatureWeatherBox p {
    font-family: Verdana, serif;
    font-weight: lighter;
    color: gray;
}

.titleTemperatureWeatherBox img {
    height: 50px;
    width: 50px;
}

@media screen and (max-width: 1120px) and (pointer: fine) {
    header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #refreshButton {
        height: 50px;
        width: 200px;
        border: solid 0px white;
        border-radius: 5px;
        background-color: lightgray;
        color: gray;
        font-family: Verdana, serif;
    }

    #mainSection {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 10px;
    }

    #favourite {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 10%;
        grid-row-gap: 20px;
    }

    #townSelectionDiv {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #townSelectionDiv div {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (max-width: 320px) and (pointer: fine) {
    body {
        overflow-x: visible;
    }
}

@media only screen and (hover: none) and (orientation: portrait) {
    header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #mainSection {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 10px;
    }

    #favourite {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
    }

    #mainTitle {
        font-size: 40px;
    }

    .commonTitle {
        color: gray;
        font-family: Verdana, serif;
        font-weight: lighter;
        font-size: 35px;
    }

    #townInput {
        height: 60px;
        flex: 1;
        margin-right: 10px;
        background-color: lightgray;
        border: solid 0px gray;
        padding-left: 10px;
        font-size: 25px;
    }

    .titleTemperatureWeatherBox p {
        font-family: Verdana, serif;
        font-weight: lighter;
        color: gray;
        font-size: 30px;
    }

    #refreshButtonMini {
        display: block;
    }

    #refreshButton {
        display: none;
    }

    #mainWeatherIcon{
        height: auto;
        width: 150px;
    }
    #townSelectionDiv{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }
    #townSelectionDiv div{
        width: 100%;
    }

    .titleTemperatureWeatherBox h3 {
        font-size: 20px;
    }

    .closeButtonBox {
        width: auto;
    }

    .cardTitleBox {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .titleTemperatureWeatherBox p {
        font-size: 20px;
    }
}

@media only screen and (hover: none) and (orientation: landscape) {
    header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #mainSection {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 10px;
    }

    #favourite {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
    }
}

@media screen and (max-width: 520px) and (pointer: fine) {
    #refreshButtonMini {
        display: block;
    }

    .cardDescription p {
        font-size: 12px;
    }

    #refreshButton {
        display: none;
    }

    header {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .commonTitle {
        font-size: 14px;
    }

    #mainTitle {
        font-size: 20px;
    }

    .mainTemperatureWeatherBox p {
        font-size: 60px;
    }


    #mainWeatherIcon {
        height: auto;
        width: 150px;
    }

    .titleTemperatureWeatherBox p {
        font-size: 14px;
    }

    .cardTitleBox h3 {
        font-size: 14px;
    }

    .roundButton {
        border: solid 0px gray;
        border-radius: 15px;
        background-color: gray;
        width: 30px;
        height: 30px;
    }

    .roundButtonTextCentralize {
        display: flex;
        align-items: center;
        justify-content: center;
        color: whitesmoke;
        font-size: 15px;
    }
}

@media screen and (max-width: 370px) and (pointer: fine) {
    .mainTemperatureWeatherBox p {
        font-size: 50px;
    }

    #mainWeatherIcon {
        height: auto;
        width: 120px;
    }

    #refreshButtonMini {
        height: 35px;
        width: 35px;
        border: solid 0px white;
        background-color: lightgray;
        border-radius: 15px;
    }
}

.loader {
    display: none;
    border-radius: 50%;
    border-top: 5px solid darkgray;
    width: 250px;
    height: 250px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

