<div class="weatherCard">
    <div class="cardTitleBox">
        <div class="titleTemperatureWeatherBox">
            <h3 id="Title0">Moscow</h3>
            <p id="Temperature0">5°C</p>
            <img id="miniIcon0" src="../weather-icon-pack/svg/008-storm.svg"/>
        </div>
        <div class="closeButtonBox">
            <button class="roundButton roundButtonTextCentralize">✕</button>
        </div>
    </div>
    <ul class="cardDescription">
        <li>
            <p>Ветер</p>
            <p id="Wind0">Moderate breeze, 6.0 m/s, North-northwest</p>
        </li>
        <li>
            <p>Облачность</p>
            <p id="Cloudiness0">Broken clouds</p>
        </li>
        <li>
            <p>Давление</p>
            <p id="Pressure0">1013 hpa</p>
        </li>
        <li>
            <p>Влажность</p>
            <p id="Humidity0">52%</p>
        </li>
        <li>
            <p>Координаты</p>
            <p id="Coordinates0">[59.88, 30.42]</p>
        </li>
    </ul>
</div>
